*{
	margin: 0px;
	padding: 0px;
}
#container{
	background-color: black;
	color: white;
	width: 600px;
	margin: 0px auto;
}
p{
	padding: 15px 10px;
}
.image{
	display: inline-block;
	border-style: solid;
	border-color: pink;
	vertical-align: top;
	height: 190px;
	width: 240px;
	padding-left:20px; 
	margin-left: 10px;
	margin-bottom:10px;
}
